.main-body {
    height: 90vh;
    display: flex;
    width: 100%;
}
.sidebar {
    height: 100%;
    flex-basis: 30%;
    border-right: 2px solid rgba(193, 193, 193, 0.685);
}
.products {
    height: 100%;
    flex-basis: 70%;
}


@media screen and (max-width: 768px) {
    .main-body {
        flex-direction: column;
    }
    .sidebar {
        border-right: none;
        border-bottom: 2px solid rgba(193, 193, 193, 0.685);
        flex-basis: 10%;
    }
    .products {
        border-bottom: 2px solid rgba(193, 193, 193, 0.685);
        flex-basis: 90%;
    }
}
